<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="memberJoin" parameterType="MemberVO">
		insert into dream_member
		(member_no, member_mail, member_pass, member_name, member_birth,member_gender) 
		values
		(dream_member_seq.nextval, #{member_mail}, #{member_pass}, #{member_name}, #{member_birth}, #{member_gender})
	</insert>
	
	<select id="idDuplicationCheck" parameterType="String" resultType="Integer">
		select count(*) 
		from dream_member
		where member_mail=#{member_authMail}
	</select>
	
	<select id="login" resultType="MemberVO">
		select member_mail, member_name
		from dream_member
		where member_mail=#{login_mail}
	</select>
	
	<select id="selectPwd" resultType="String">
		select member_pass
		from dream_member
		where member_mail=#{login_mail}
	</select>
	
	<select id="memberInfo" parameterType="String" resultType="MemberVO">
		select member_birth, member_regdate
		from dream_member
		where member_mail =#{login_mail}
	</select>
	<!-- to_date(member_regdate,'yyyy-mm-dd') as member_regdate -->
</mapper>
