<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="memberJoin" parameterType="MemberVO">
		insert into dream_member
			(member_no, member_mail, member_pass, member_name, member_birth,member_gender) 
		values
			(dream_member_seq.nextval, #{member_mail}, #{member_pass}, #{member_name}, #{member_birth}, #{member_gender})
	</insert>
	
	<select id="idDuplicationCheck" parameterType="String" resultType="Integer">
		select 
			count(*) 
		from 
			dream_member
		where 
			member_mail=#{member_authMail}
	</select>
	
	<select id="login" resultType="MemberVO">
		select 
			member_no, member_mail, member_name, member_profile
		from 
			dream_member
		where 
			member_mail=#{login_mail}
	</select>
	
	<select id="selectPwd" resultType="String">
		select 
			member_pass
		from 
			dream_member
		where 
			member_mail=#{login_mail}
	</select>
	
	<select id="memberInfo" parameterType="Int" resultType="MemberVO">
		select member_birth, member_regdate, member_profile
		from dream_member
		where member_no = #{member_no}
	</select>
	
	<!-- 동적 sql을 이용해서 service단에서 검사한 member_profile이 널이면 -->
	<!-- member_profile을 제외한 나머지 정보만 입력 수정 진행 -->
	<!-- member_pass항목 역시 널검사를 통해 제외 여부 결정후 수정 진행 -->
	<update id="memberInfoEdit" parameterType="MemberVO">
		update dream_member set member_profile = #{member_profile} where member_no =#{member_no}
	</update>
	
	<update id="findPass" parameterType="MemberVO">
		update dream_member set member_pass = #{member_pass} where member_mail = #{member_mail}
	</update>
	
	<select id="findMail" parameterType="MemberVO" resultType="MemberVO">
		select member_mail, to_date(member_regdate,'yyyy-mm-dd') as member_regdate
		from dream_member 
		where member_name = #{member_name} and member_birth = #{member_birth} 
		order by member_regdate desc
	</select>
	
	
</mapper>
