<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project">

<!-- 프로젝트 기본 정보 등록 -->
<insert id="projectBasicInfo" parameterType="ProjectVO">
	<selectKey keyProperty="project_no" resultType="int" order="BEFORE">
		select dream_project_seq.nextval from dual
	</selectKey>
	insert into dream_project
	(project_no, member_no, project_thumbnail, project_title, project_summary, 
	project_category, project_end_date, project_goal_amount)
	values
	(#{project_no}, #{member_no}, #{project_thumbnail}, #{project_title}, #{project_summary}, 
	#{project_category}, #{project_end_date}, #{project_goal_amount})
</insert>

<!-- 기본 정보 등록 후 project_no 조회 : 스토리,프로필,계좌,미리보기에 해당하는 update를 처리 하기 위해 필요한 project_no를 조회 하기 위함 -->
<select id="getProjectNo">
	select project_no from dream_project where member_no = #{member_no}
</select>

<!-- 프로젝트 스토리 정보 등록 -->
<update id="projectStoryInfo">
	update dream_project 
	set project_video = #{project_video}, project_content = #{project_content} 
	where project_no = #{project_no}
</update>

<!-- 프로젝트 프로필 정보 등록  -->
<update id="projectProfileInfo">
	update dream_project 
	set register_profile = #{register_profile}, register_name = #{register_name}, 
	register_intro = #{register_intro}, register_sns = #{register_sns} 
	where project_no = #{project_no}
</update>

<!-- 프로젝트 계좌 정보 등록 -->
<update id="projectAccountInfo">
	update dream_project
	set register_address = #{register_address}, project_account = #{project_account}, 
	access_terms_agree = #{access_terms_agree}
	where project_no = #{project_no}
</update>

<!-- 프로젝트 미리보기  -->
<select id="projectPreview" resultType="ProjectVO">
	select * from dream_project where project_no = #{project_no}
</select>

<!-- 프로젝트 미리보기 후 최종 등록 -->
<update id="projectRegister">
	update dream_project set project_register_state = 'T' where project_no = #{project_no}
</update>

<select id="get_project_dto_info" resultType="ProjectInfoDto">
	select 
		floor((project_end_date-sysdate)) as project_d_day, 
		floor((now_amount/project_goal_amount)*100) as percentage 
	from dream_project 
	where project_no =#{project_no}
</select>

</mapper>
