<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="support">
	<insert id="support_register" parameterType="SupportVO">
	<selectKey keyProperty="support_no" resultType="int" order="BEFORE">
		select dream_support_seq.nextval from dual
	</selectKey>
		insert into dream_support (
			support_no, member_no, project_no, total_reward_no, 
			member_name, pay_method, pay_account_number, support_amount
		)
		values (
			#{support_no}, #{member_no}, #{project_no}, #{total_reward_no}, 
			#{member_name}, #{pay_method}, #{pay_account_number}, #{support_amount}
		)
	</insert>
	
	<update id="project_nowAmount_update">
		update dream_project set 
			now_amount = now_amount + #{support_amount}, Supporting_Count = Supporting_Count+1
		where 
			project_no = #{project_no}
	</update>
	
	<update id="reward_limited_count_update">
		update dream_reward set
			reward_limited_count = reward_limited_count-1
		where 
			total_reward_no = #{reward_no}
	</update>
	
	<select id="get_projectUser_profile" resultType="ProjectVO">
		select 
			register_name, register_address, register_phone
		from 
			dream_project
		where 
			project_no = #{project_no}
	</select>
	
	<insert id="shipping_address_register" parameterType="ShippingAddressVO">
		<selectKey keyProperty="shipping_address_no" resultType="int" order="BEFORE">
			select dream_shipping_address_seq.nextval from dual
		</selectKey>
		insert into dream_shipping_address(
			shipping_address_no, sender_name, sender_address, sender_phone, 
			receiver_name, receiver_phone, zip_code, receiver_address, detail_address
		)
		values(
			#{shipping_address_no}, #{sender_name}, #{sender_address}, #{sender_phone}, 
			#{receiver_name}, #{receiver_phone}, #{zip_code}, #{receiver_address}, #{detail_address} 
		)
		
	</insert>

	<insert id="shipping_items_register">
		insert into dream_shipping_items(
			shipping_address_no, member_no, support_no, project_no,
			total_reward_no
		) 
		values(
			#{shipping_address_no}, #{member_no}, #{support_no}, #{project_no}, 
			#{total_reward_no}
		)
	</insert>
	
	<select id="get_support_info" resultType="SupportVO">
		select 
			*
		from 
			dream_support
		where 
			support_no = #{support_no}
	</select>
	
	<select id="get_support_shipping_info" resultType="ShippingAddressVO">
		select 
			*
		from 
			dream_shipping_address
		where 
			shipping_address_no = #{shipping_address_no}
		
	</select>
	
	<select id="get_support_shipping_items_info" resultType="ShippingItemsVO">
		select 
			*
		from 
			Dream_Shipping_Items
		where 
			shipping_address_no = #{shipping_address_no}
	</select>
	
	<select id="get_support_items" resultType="RewardVO">
		select 
			*
		from 
			dream_reward
		where 
			total_reward_no = #{total_reward_no}
	</select>
</mapper>
