<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myProjectList">
	
	<select id="myProject" resultMap="projectInfoResultMap.project_point_info_map">
		select
			<include refid="projectInfoSql.project_point_info_sql"></include>
		from 
			dream_project
		where
			<include refid="projectInfoSql.myProject_condition_sql"></include>
	</select>
	
	<select id="during_registration_project" resultType="ProjectVO">
		select
			<include refid="projectInfoSql.project_point_info_sql"></include>
		from 
			dream_project
		where
			<include refid="projectInfoSql.during_registration_project_sql"></include>
	</select>
	
</mapper>


