<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectRegister">

<!-- 프로젝트 기본 정보 등록 -->
<insert id="projectBasicInfo" parameterType="ProjectVO">
	<selectKey keyProperty="project_no" resultType="int" order="BEFORE">
		select 
			dream_project_seq.nextval 
		from 
			dual
	</selectKey>
	insert into dream_project
		(
			<include refid="projectInfoSql.project_basic_info_sql"/>
		)
	values
		(
			#{project_no}, #{member_no}, #{project_thumbnail}, #{project_title}, #{project_summary}, 
			#{project_category}, #{project_end_date}, #{project_goal_amount}
		)	
</insert>

<!-- 기본 정보 등록 후 project_no 조회 : 스토리,프로필,계좌,미리보기에 해당하는 update를 처리 하기 위해 필요한 project_no를 조회 하기 위함 -->
<!-- 기본 정보 등록 후 selectKey를 이용해서 primary key를 vo.getProject_no()를 이용해서 리턴받기 때문이 해당 구문은 삭제-->
<!-- <select id="getProjectNo">
	select project_no from dream_project where member_no = #{member_no}
</select> -->

<!-- 프로젝트 스토리 정보 등록 -->
<update id="projectStoryInfo">
	update 
		dream_project 
	set 
		project_video_type = #{project_video_type},
		project_video = #{project_video}, 
		project_content = #{project_content}, 
		Project_Register_State = '3'
	where 
		project_no = #{project_no} 
</update>

<!-- 프로젝트 프로필 정보 등록  :여기 멤버테이블로 수정-->
<update id="projectMemberProfile_update">
	update
		dream_member
	set
		member_profile = #{member_profile}
	where
		member_no = #{member_no}
</update>

<update id="projectRegisterProfile_update">
	update
		dream_project
	set
		register_name = #{register_name},
		register_intro = #{register_intro},
		address_member_no = #{address_member_no}
	where
		project_no = #{project_no}
</update>

<!-- <insert id="memberAddress_insert">
	insert into
		dream_member_address
		(
			member_no, address_member_no, address_member_name,
			address_alias, member_address_zip_code, member_address, 
			member_detail_address, address_member_phone	
		)
		values
		(
			#{member_no}, dream_address_seq.nextval, #{address_member_name},
			#{address_alias}, #{member_address_zip_code}, #{member_address}, 
			#{member_detail_address}, #{address_member_phone}
		)
		
</insert> -->

<!-- 프로젝트 계좌 정보 등록 : 여기 멤버 어드레스 테이블로 수정 -->
<update id="projectAccountInfo">
	update 
		dream_project
	set 
		access_terms_agree = #{access_terms_agree}, 
		project_account = #{project_account}, 
		project_account_bank = #{project_account_bank},
		Project_Register_State = '5'
	where 
		project_no = #{project_no} 
</update>

<!-- 프로젝트 미리보기 후 최종 등록 -->
<update id="projectRegister">
	update 
		dream_project 
	set 
		project_register_state = 'T' 
	where 
		project_no = #{project_no}
</update>



</mapper>
